.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 3px;
    height: 100%;
}

.picker-container {
    height: 3rem;
    flex-direction: row;
    margin-bottom: 3rem;
    justify-content: end;
    align-items: end;
    align-content: flex-end;
}

mat-card-header {
    background-color: white;
}

ag-grid-angular {
    height: 100%;


}


.code-container {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    overflow-wrap: normal;

}

br {
    background-color: blue;
    height: 20px;
}

.card {
    /* ... other card styles ... */
    border: 3px solid transparent;
    min-width: 900px;
    height: 100vh;

    flex: 1;
    display: flex;
    flex-direction: column;

}

.card:hover {
    animation: rainbow-border 6s infinite linear;
}

@keyframes rainbow-border {
    0% {
        border-color: red;
    }

    10% {
        border-color: orange;
    }

    20% {
        border-color: yellow;
    }

    30% {
        border-color: green;
    }

    40% {
        border-color: blue;
    }

    50% {
        border-color: indigo;
    }

    60% {
        border-color: violet;
    }

    70% {
        border-color: pink;
    }

    80% {
        border-color: purple;
    }

    90% {
        border-color: magenta;
    }

    100% {
        border-color: red;
    }
}