.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */

}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

@keyframes rainbow-border {
    0% {
        border-color: red;
    }

    10% {
        border-color: orange;
    }

    20% {
        border-color: yellow;
    }

    30% {
        border-color: green;
    }

    40% {
        border-color: blue;
    }

    50% {
        border-color: indigo;
    }

    60% {
        border-color: violet;
    }

    70% {
        border-color: pink;
    }

    80% {
        border-color: purple;
    }

    90% {
        border-color: magenta;
    }

    100% {
        border-color: red;
    }
}